extends layout

block content
  .mdl-layout.mdl-js-layout.mdl-layout--fixed-header
    header.mdl-layout__header.canopy
      .mdl-layout__header-row
        span.mdl-layout-title Canopy Scout
        .mdl-layout-spacer

    .mdl-layout__drawer
      span.mdl-layout-title Related Products
      nav.mdl-navigation
        a.mdl-navigation__link(href="https://www.junglescout.com") Jungle Scout

    .mdl-layout__content.canopy

      form#asin-form(action='/' method='post')
        .mdl-textfield.mdl-js-textfield
          input#asin.mdl-textfield__input(type='text' placeholder="Enter ASIN" name="asin")

          input#asin-hidden(type="hidden" name="hiddenAsin" value="")

      table.mdl-data-table.mdl-js-data-table.mdl-shadow--2dp
        thead
          tr
            th.mdl-data-table__cell--non-numeric ASIN
            th.mdl-data-table__cell--non-numeric Name
            th.mdl-data-table__cell--non-numeric Reviews
            th.mdl-data-table__cell--non-numeric Rating
            th.mdl-data-table__cell--non-numeric Search Time
            th.mdl-data-table__cell--non-numeric Availability

        tbody
          each info, index in productsInfo
            tr(onclick="refreshProduct('" + info[0] + "')" id="tooltip" + index)
              td.mdl-data-table__cell--non-numeric= info[0]
              td.mdl-data-table__cell--non-numeric= info[1]
              td.mdl-data-table__cell--non-numeric= info[2]
              td.mdl-data-table__cell--non-numeric= info[3]
              td.mdl-data-table__cell--non-numeric= new Date(info[4] * 1000)
              td.mdl-data-table__cell--non-numeric= info[5]
            .mdl-tooltip.mdl-tooltip--large.mdl-tooltip--left(data-mdl-for="tooltip" + index) Refresh


